body {
  font-family: sans-serif;
  background-color: #f0f4f8;
  margin: 0;
  padding: 2rem;
}

input, select, button {
  padding: 0.5rem;
  margin: 0.5rem 0;
}

button {
  cursor: pointer;
}

ul {
  margin-top: 1rem;
  list-style-type: square;
}
